{% extends "sidebar.html" %}

{% block title %}About Stoyan Zhekov{% endblock %}

{% block content %}
<h1 style="margin-bottom:6pt">About Stoyan Zhekov</h1>
<p>Bulgarian. Living in Japan. Budo-geek - aikido, kendo, iaido. System Engineer. Married. 3 kids.<br/>
  <ul>
    <li><a href="http://zhekov.net">Personal Page</a></li>
    <li><a href="http://twitter.com/zh">Twitter</a></li>
    <li><a href="http://friendfeed.com/zhesto">FriendFeed</a></li>
  </ul></p>	  
  
<p>You can reach me at (Email)<a href="mailto:zhesto@gmail.com">zhesto@gmail.com</a> or (IM)<a href="xmpp:zh@jabber.jp">zh@jabber.jp</a>.</p>
 
<p><a href="/">&laquo; Back to the blog</a></p>
{% endblock %}
