<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>{% block title %}ReaTiWe{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  {% block head %}{% endblock %}
</head>
<body>
<div id="body">
	
<div id="header">
<div class="menu">
{% if user %}
<span><a href="/user/{{ microUser.nick }}">Profile</a></span>		      
<span><a href="/settings">Settings</a></span>
<span><a href="{{ logout_url }}">Sign Out</a></span>
{% else %}
<span><a href="{{ login_url }}">Sign In</a></span>
{% endif %}
</div>
<div class="title"><a href="/">ReaTiWe</a></div>
</div>

<div id="content">
{% block body %}{% endblock %}
</div>

<div id="footer">
&copy;2009 Stoyan Zhekov - <a href="/about">About me</a> - <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons license</a>
</div>

</div>
{% block bottom %}{% endblock %}
</body>
</html>
