{% extends 'sidebar.html' %}
{% block title %}Entry {{ entry|entityid }}{% endblock %}
{% block head %}
<link rel="alternate" type="application/atom+xml" href="/{{ nick }}/atom" title="reatiwe public timeline atom feed" />
<link rel="hub" href="https://pubsubhubbub.appspot.com/" />
{% endblock %}
{% block content %}
  <div id="entries">
    <ul>	
      <li class="lien"><big><a href="/user/{{ entry.author.nick|escape }}">@{{ entry.author.nick|escape }}</a></big><div>{{ entry.content|escape|content }}</div><small>#{{ entry|entityid }}, <span title="{{ entry.date|rfc3339datetime }}">{{ entry.date|timestamp }} ago</span></small></li>
    </ul>	    
  </div>
  <p><a href="/">&laquo; Back to the blog</a></p>
{% endblock %}
