{% extends 'sidebar.html' %}
{% block head %}
<link rel="alternate" type="application/atom+xml" href="{{ site_url }}/atom" title="reatiwe public timeline atom feed" />
<link rel="hub" href="{{ hub_url }}" />
<link rel="hub" href="{{ pushub_url }}"/>
{% endblock %}
{% block content %}
{% if user %}
<p>
  <form action="/" method="post">
    <textarea name="content" rows="3" cols="70"></textarea><br/>
    <input type="submit" class="submitbutton" value="Post" />
  </form>
</p>
{% endif %}  
<div id="entries">
  <ul>	  
  {% for m in micros %}
  <li class="lien" style="background-image: url(http://img.tweetimag.es/i/{{ m.author.twit_user|escape }}_n)"><big><a href="/user/{{ m.author.nick|escape }}">{{ m.author.full_name|escape }}</a></big><div>{{ m.content|escape|content }}</div><small><a href="/entry/{{ m|entityid }}">#{{ m|entityid }}</a> from {{ m.origin|origin }}, <span title="{{ m.date|rfc3339datetime }}">{{ m.date|timestamp }} ago</span>{% if m.comments %}; <a href="/entry/{{ m|entityid }}">{{ m.comments }} replies</a>{% endif %}{% if m.likes %}, <img src="/images/smile.png" />{{ m.likes }} likes{% endif %}.</small></li>
  {% endfor %}
  </ul>	  
</div>

<p>
  {% if page_prev %}
  <a href="/?page={{ page_prev }}">&lt;&lt; Older</a> 
  {% endif %}
  &nbsp;page {{ page1 }} of {{ num_pages }} pages.&nbsp;
  {% if page_next %}
  <a href="/?page={{ page_next }}">Next &gt;&gt;</a>
  {% endif %}
</p>
{% endblock %}
