{% extends 'sidebar.html' %}
{% block head %}
<link rel="alternate" type="application/atom+xml" href="/atom" title="reatiwe public timeline atom feed" />
<link rel="hub" href="https://pubsubhubbub.appspot.com/" />
{% endblock %}
{% block content %}
  {% if user %}
  <p>
    <form action="/" method="post">
      <textarea name="content" rows="3" cols="70"></textarea><br/>
      <input type="submit" class="submitbutton" value="Post" />
    </form>
  </p>
  {% endif %}  
  <div id="entries">
  <ul>	  
  {% for m in micros %}
  <li class="lien"><big><a href="/user/{{ m.author.nick|escape }}">@{{ m.author.nick|escape }}</a></big><div>{{ m.content|escape|content }}</div><small><a href="/entry/{{ m|entityid }}">#{{ m|entityid }}</a>, <span title="{{ m.date|rfc3339datetime }}">{{ m.date|timestamp }} ago</span></small></li>
  {% endfor %}
  </ul>	  
  </div>
{% endblock %}
