{% extends 'sidebar.html' %}
{% block title %}{{ nick|escape }}'s Likes{% endblock %}
{% block head %}
<link rel="alternate" type="application/atom+xml" href="{{ site_url }}/likes/{{ nick|escape }}/atom" title="{{ nick|escape }}'s timeline atom feed" />
<link rel="hub" href="{{ pushub_url }}"/>
<link rel="hub" href="{{ hub_url }}" />
{% endblock %}
{% block content %}
<h2>{{ nick|escape }}'s likes</h2>
<div id="entries">
  <ul>	  
  {% for l in likes %}
  <li class="lien" style="padding-left: 10px;"><div>{{ l.entry.content|escape|content }}</div><small><a href="/entry/{{ l.entry|entityid }}">#{{ l.entry|entityid }}</a> from {{ l.entry.origin|origin }}, <span title="{{ l.entry.date|rfc3339datetime }}">{{ l.entry.date|timestamp }} ago</span>{% if l.entry.comments %}; <a class="reply" href="/entry/{{ l.entry|entityid }}">{{ l.entry.comments }} replies</a>{% endif %}.</small></li>
  {% endfor %}
  </ul>	  
</div>

<p><a href="/">&laquo; Back to the blog</a></p>
{% endblock %}
