{% extends "base.html" %}
{% block body %}
{% block sidebar %}
<div id="sidebar">
<div class="headline"><b>{{ microUser.full_name|escape }} ({{ microUser.nick|escape }})</b></div>	    
<div class="section">
<ul>
  <li><a href="http://github.com/zh/reatiwe">GitHub</a></li>
  <li><a href="http://friendfeed.com/reatiwe">FriendFeed</a></li>
</ul>
</div>
<div class="section">
<iframe style="border: medium none; width: 180px; height: 500px; overflow: hidden;" src="http://widget.collecta.com/widget.html?query=xmpp%20OR%20pubsubhubbub%20OR%20websocket%20OR%20webhooks%20OR%20collecta&alias=Real%20Time%20Web&headerimg=&stylesheet=&delay=" id="widgetframe" frameborder="0" scrolling="no"></iframe>
</div>
</div>
{% endblock %}
{% block content %}{% endblock %}
{% endblock %}
