{% extends 'sidebar.html' %}
{% block head %}
<link rel="alternate" type="application/atom+xml" href="/atom" title="reatiwe public timeline atom feed" />
<link rel="hub" href="https://pubsubhubbub.appspot.com/" />
<script type="text/javascript" charset="utf-8" src="/static/agg.js"></script>
{% endblock %}
{% block content %}
  <div id="entries">
  {% if not entries %}
  Nothing yet.
  {% else %}
  {% for e in entries %}
  <p><span class="poster"><a href="/user/{{ e.author|escape }}">{{ e.author|escape }}</a></span>
       {{ e.content|escape|content }} <a href="/entry/{{ e|entityid }}">{{ e.date|timestamp }} ago</a>
  </p>
  {% endfor %}
  {% endif %}
  </div>
{% endblock %}
