{% extends 'sidebar.html' %}
{% block head %}
<link rel="alternate" type="application/atom+xml" href="/atom" title="reatiwe public timeline atom feed" />
<link rel="hub" href="https://pubsubhubbub.appspot.com/" />
<script type="text/javascript" charset="utf-8" src="/static/agg.js"></script>
{% endblock %}
{% block content %}
  <div id="entries">
  {% if not entries %}
  Nothing yet.
  {% else %}
  <ul>
  {% for m in entries %}
    <li class="lien"><big><a href="/user/{{ m.author.nick|escape }}">@{{ m.author.nick|escape }}</a></big><div>{{ m.content|escape|content }}</div><small><a href="/entry/{{ m|entityid }}">#{{ m|entityid }}</a>, <span title="{{ m.date|rfc3339datetime }}">{{ m.date|timestamp }} ago</span></small></li>	  
  </p>
  {% endfor %}
  </ul>
  {% endif %}
  </div>
{% endblock %}
