{% extends 'sidebar.html' %}
{% block head %}
<link rel="alternate" type="application/atom+xml" href="/atom" title="reatiwe public timeline atom feed" />
<script type="text/javascript" charset="utf-8" src="/static/agg.js"></script>
{% endblock %}
{% block content %}
  <h2>Last {{ total }} posts</h2>
  <div id="entries">
  {% if not entries %}
  Nothing yet.
  {% else %}
  <ul>
  {% for m in entries %}
  <li class="lien" style="background-image: url(http://img.tweetimag.es/i/{{ m.author.twit_user|escape }}_n)"><big><a href="/user/{{ m.author.nick|escape }}">{{ m.author.full_name|escape }}</a></big><div>{{ m.content|escape|content }}</div><small><a href="/entry/{{ m|entityid }}">#{{ m|entityid }}</a> from {{ m.origin|origin }}, <span title="{{ m.date|rfc3339datetime }}">{{ m.date|timestamp }} ago</span>{% if m.comments %}; <a class="reply" href="/entry/{{ m|entityid }}">{{ m.comments }} replies</a>{% endif %}{% if m.likes %} , <span class="like">{{ m.likes }} likes</span>{% endif %}</small>.</li>
  </p>
  {% endfor %}
  </ul>
  {% endif %}
  </div>
{% endblock %}
